.header {
  /* border: 1px solid black; */
  width: 80%;
  height: 100%;

  /* make styling (relatively) absolute positioning */
  position: relative;
}

.header-title {
  text-align: center;
  width: 100%;
  margin: 10px 0;

  /* add this line */
  /* position: absolute;
  z-index: -1; */
}

.search-form {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
}

.search-bar,
.search-button {
  display: inline-block;
  padding: 10px;
  height: 70%;
}

.search-bar {
  width: 60%;
  border: 1px solid orange;
  border-radius: 5px 0 0 5px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: orange;
  color: white;
  border-left: none;
  border-radius: 0 5px 5px 0;
}
