.recipe {
  display: flex;
  height: stretch;

  /* add this */
  max-width: 272px;

  /* justify-content: space-around; */
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
}

.recipe-image-container {
  position: relative;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  /* border: 1px solid pink; */
}

.recipe-image {
  width: 100%;

  border-radius: 20px;
}

.recipe-image-container:hover .recipe-image {
  opacity: 0.3;
}

.recipe-info {
  opacity: 0;
  position: absolute;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.recipe-image-container:hover .recipe-info {
  opacity: 1;
}

.recipe-link {
  width: 80%;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;

  /* border: 1px solid tomato; */
}

.recipe-link:link,
.recipe-link:visited {
  color: #5d6063;
  text-decoration: none;
}

.recipe-link:hover {
  color: white;
  text-decoration: underline;
}
